package {{.Self.PackageName}}


{{if .Self.ImportRequired}}
import (
 "github.com/th-lange/glox/scanner"
)
{{end}}

type {{.Self.Name}} struct {
    {{range .Self.Elements}}{{.Name}}       {{.TType}}
    {{end}}
}

func (self {{.Self.Name}}) Accept(visitor Visitor) interface{} {
    return visitor.Visit{{.Self.Name}}(self)
}
