package {{.Package}}

import "github.com/th-lange/glox/expression"

type {{.ItemName}} struct{}

{{range .All}}
    {{ if ne .Name "Expression"}}
func (visitor  {{$.ItemName}}) Visit{{.Name}} (expression expression.{{.Name}}) interface{} {
    return nil
}
    {{end}}
{{end}}

